<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomerPoint.VehicleInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CarRegSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CarRegSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CarRegSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.regcheck.org.uk/api/reg.asmx"
                binding="basicHttpBinding" bindingConfiguration="CarRegSoap"
                contract="RegCheckApi.CarRegSoap" name="CarRegSoap" />
            <endpoint address="https://www.regcheck.org.uk/api/reg.asmx"
                binding="customBinding" bindingConfiguration="CarRegSoap12"
                contract="RegCheckApi.CarRegSoap" name="CarRegSoap12" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CustomerPoint.VehicleInfo.Lookup.Properties.Settings>
            <setting name="RegCheckApiKey" serializeAs="String">
                <value />
            </setting>
        </CustomerPoint.VehicleInfo.Lookup.Properties.Settings>
    </applicationSettings>
</configuration>